<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel='stylesheet' href='/app.css'>
    <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/transportation-soft/512/baby_love_animal_nature_large_drawing_zoo-512.png">

  </head>
  <body>
    <div class="container-fluid">
      #parse( $template )
    </div>
  </body>
</html>

